<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Estética y Spa</title>
    
</head>
<body>

    <header>
        <h2 class="logo">Serenity Spa</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
            
        <nav class="menu">
            <a href="#servicios">Servicios</a>
            <a href="#nosotros">Sobre Nosotros</a>
            <a href="#beneficios">Beneficios</a>
            <a href="#promociones">Promociones</a>
            <a href="#contacto">Contacto</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header> 
    
    <section id="descripcion"> 
        <div class="container">
            <h3><span>Descripción del Servicio:</span></h3> 
            <p>Ofrecemos una amplia gama de servicios de estética y spa que te ayudarán a relajarte y revitalizarte.</p>
        </div>
        
    </section> 
        
    <!-- <section id="beneficios"> 
        <h2>Beneficios y Ventajas</h2> 
        <p>Disfruta de tratamientos personalizados que mejorarán tu bienestar físico y mental.</p> 
    </section> 
    
    <section id="blog"> 
        <h2>Blog</h2> 
        <p>Explora artículos interesantes sobre belleza, salud y bienestar en nuestro blog.</p> 
    </section> 
    
    <section id="nosotros"> 
        <h2>Sobre Nosotros</h2> 
        <p>Somos un equipo de profesionales dedicados a proporcionarte una experiencia de spa única.</p> 
    </section> 
    
    <section id="servicios"> 
        <h2>Servicios</h2> 
            <ul> 
                <li>Masajes - Relaja tu cuerpo y mente con nuestros masajes especializados.</li> 
                <li>Faciales - Disfruta de tratamientos faciales personalizados para tu tipo de piel.</li> 
                <li>Manicure y Pedicure - Cuida de tus manos y pies con nuestros servicios de manicure y pedicure.</li> 
            </ul>
    </section> 
    
    <section id="promociones"> 
        <h2>Promociones</h2> 
        <p>Aprovecha nuestras ofertas especiales y descuentos exclusivos.</p> 
    </section> 
            
    <section id="contacto"> 
        <h2>Contacto</h2> 
        <p>Email: contacto@estetica-spa.com</p> 
        <p>Teléfono: +58 123 456 7890</p> 
    </section> 
    
    <section id="reservaciones"> 
        <h2>Reservaciones</h2> 
        <p>Reserva tu cita online y disfruta de nuestros servicios cuando más te convenga.</p> 
    </section> 
    
    <footer> 
        <p>&copy; 2024 Estética y Spa. Todos los derechos reservados.</p> 
    </footer>
    <script src="script.js"></script> -->
</body>
</html>