<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenindo a Mi espacio</title>
  <link rel="icon" href="logo.png">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">Hola Mundo</h1>
    <div class="inf">
      <p><span>NOMBRE COMPLETO:</span> <%= nombreCompleto %></p>
      <p><span>NÚMERO DE CÉDULA:</span> <%= cedula %></p>
      <p><span>SECCIÓN INSCRITA :</span> <%= seccion %></p>
    </div>
    
  </div>
</body>
</html>

