<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estetica Y Spa</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#beneficios">BENEFICIOS</a></li>
                    <li><a href="#servicios">SERVICIOS</a></li>
                    <li><a href="#promociones">PROMOCIONES</a></li>
                    <li><a href="#sobre-nosotros">SOBRE NOSOTROS</a></li>
                </ul>
            </nav>
            <h1>Bienvenido a Serenity Spa</h1>
            <p>Tu refugio de paz y bienestar</p>
        </div>
        
    </header>
    
    <section id="descripcion">
        <h2>Descripción del Servicio</h2>
        <p>En Serenity Spa ofrecemos una amplia gama de tratamientos estéticos y de relajación diseñados para revitalizar tu cuerpo y mente. Desde masajes relajantes hasta tratamientos faciales rejuvenecedores, nuestro objetivo es brindarte una experiencia única y placentera.</p>
    </section>
    
    <section id="beneficios">
        <h2>Beneficios y Ventajas</h2>
        <div class="benefits">
            <div class="benefit">
                <h3>Relajación Total</h3>
                <p>Disfruta de un ambiente tranquilo que te ayudará a desconectar del estrés diario.</p>
            </div>
            <div class="benefit">
                <h3>Mejora de la Piel</h3>
                <p>Nuestros tratamientos faciales están diseñados para rejuvenecer y revitalizar tu piel.</p>
            </div>
            <div class="benefit">
                <h3>Salud Integral</h3>
                <p>Promovemos el bienestar físico y mental a través de terapias holísticas.</p>
            </div>
        </div>
    </section>

    <section id="servicios" class="ser">
        <h2>Servicios</h2>
        <h3>Faciales</h3>
        <div class="services">
            <div class="service">
                <h4>Facial Hidratante</h4>
                <img src="img/facial_hidratante.png" alt="Facial Hidratante">
                <p>Un tratamiento que nutre e hidrata tu piel profundamente.</p>
            </div>
            <div class="service">
                <h4>Facial Antienvejecimiento</h4>
                <img src="img/facial_antienvejecimiento.jpg" alt="Facial Antienvejecimiento">
                <p>Revitaliza tu piel y reduce visiblemente las arrugas.</p>
            </div>
            <div class="service">
                <h4>Facial Purificante</h4>
                <img src="img/facial_purificante.jpeg" alt="Facial Purificante" >
                <p>Limpieza profunda que elimina impurezas y puntos negros.</p>
            </div>
        </div>
    
        <h3>Corporales</h3>
        <div class="services">
            <div class="service">
                <h4>Masaje Relajante</h4>
                <img src="img/relajacion.avif" alt="Masaje Relajante">
                <p>Alivia tensiones y mejora la circulación sanguínea.</p>
            </div>
            <div class="service">
                <h4>Exfoliación Corporal</h4>
                <img src="img/Exfoliacion.jpg" alt="Exfoliación Corporal">
                <p>Elimina células muertas y deja tu piel suave y radiante.</p>
            </div>
            <div class="service">
                <h4>Envoltura Corporal</h4>
                <img src="img/Hidratacion.jpeg" alt="Envoltura Corporal">
                <p>Nutre e hidrata tu piel mientras disfrutas de un momento de paz.</p>
            </div>
        </div>
    </section>
    
    <section id="promociones">
        <h2>Promociones</h2>
        <div class="promotions">
            <div class="promotion">
                <h3>Masaje Relajante - 20% de Descuento</h3>
                <img src="img/masaje relajante.jpg" alt="Masaje Relajante" style="width:100%; border-radius: 8px;">
                <p>Disfruta de un masaje relajante con un 20% de descuento. Válido hasta el 30 de noviembre.</p>
            </div>
            <div class="promotion">
                <h3>Facial Antienvejecimiento - 15% de Descuento</h3>
                <img src="img/Antienvejecimiento.jpg" alt="Facial Antienvejecimiento" style="width:100%; border-radius: 8px;">
                <p>Revitaliza tu piel con un tratamiento antienvejecimiento y obtén un 15% de descuento. Válido hasta el 15 de diciembre.</p>
            </div>
            <div class="promotion">
                <h3>Paquete de Spa - 25% de Descuento</h3>
                <img src="img/masaje y estetica.png" alt="Paquete de Spa" style="width:80%; border-radius: 8px;">
                <p>Aprovecha nuestro paquete especial que incluye masaje y facial con un 25% de descuento. Válido hasta el 31 de diciembre.</p>
            </div>
        </div>
    </section>

    <section id="sobre-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>Serenity Spa es un espacio creado para ofrecerte la mejor experiencia en bienestar y 
            estética. Nuestro equipo de profesionales está altamente capacitado para 
            brindarte atención personalizada y tratamientos de calidad.</p>
    </section>

    <footer>
        <p>&copy; 2024 Serenity Spa. Todos los derechos reservados.</p>
    </footer>
</body>
</html>